<h1><%= t('principal') %></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-2">
      <div>
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg" class="w-100">
      </div>
    </div>
    <div class="col-12 col-lg">
      <ul>
        <% @canciones.each do |cancion| %>
          <li>
            <div>Titulo <%= cancion.titulo %></div>
            <div>Artista <%= cancion.artista %></div>
            <ul>
              <% cancion.parrafos.each do |parrafo| %>
                <li style="white-space: pre-line"><%= parrafo.texto %></li>
              <% end %>
            </ul>

          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-lg-2">
      <div>
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg" class="w-100">
      </div>
    </div>
  </div>
</div>
