<h1>Principal#index</h1>

<div class="row">
  <div class="col-2">
    <div style="height: 100%; background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg'); background-size: contain"></div>
  </div>
  <div class="col">
    <div style="width: 100%; height: 100px; background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg'); background-size: cover"></div>
    <ul>
      <% @canciones.each do |cancion| %>
        <li>
          <div>Titulo <%= cancion.titulo %></div>
          <div>Artista <%= cancion.artista %></div>
          <ul>
            <% cancion.parrafos.each do |parrafo| %>
              <li style="white-space: pre-line"><%= parrafo.texto %></li>
            <% end %>
          </ul>

        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-2">
    <div style="height: 100%; background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg'); background-size: contain"></div>
  </div>
</div>