<div>Titulo <%= @cancion.titulo %></div>
<div>Artista <%= @cancion.artista %></div>
<ul>
  <% @cancion.parrafos.each do |parrafo| %>
    <li style="white-space: pre-line"><%= parrafo.texto %></li>
  <% end %>
</ul>