// Place all the styles related to the Canciones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.parrafo {
  list-style-type: none;

  transition: transform ease-in-out 0.075s;

  &:hover {
    transform: scale(1.025);
  }

  label {
    padding: 1em;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
  }

  input:checked ~ label {
    background-color: rgba(59, 212, 193, 0.25);
  }
}