<div class="bg-light-dark min-vh-100">
  <div class="container pt-5" id="ver-anuncios">
    <%= link_to t('titulo_crear_anuncio'), new_anuncio_url, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>